body{
    background:white;
    overflow:hidden;
    height:100%;
}
.header {
    position: relative;
    left:1;
    right:0%;
    top: 0;
    width: 100%;
    height:5%;
    font-weight:400;
    color: white;
    background-color: lightblue;
    margin-right:20%;
    
}
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:5%;
    color: rgb(20, 19, 19);
    text-align: center;
    background-color: lightblue;
}
.bottom{
    top:12%;
    color: lightcyan;
}
#heading{
    color: darkblue;
    margin-left:470px;
    font-weight: 600;
}

/*posts
*/
.header-container{
    margin-top:10px;    
    margin-right:60px;
    margin-left:280px;
    width:60%;
    background-color: lightskyblue;
    background: lightskyblue;
    left:50;
}
h3{
    text-align: center;
    font-weight: 700;
    color:rgb(4, 4, 136);
}
span{
    font-weight: 600;
}
h4{
    color: cornflowerblue;
}
.text-white {
    color: #fff !important;
}
.ui-bg-overlay-container, .ui-bg-video-container {
    position: relative;
}
.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.ui-bg-overlay-container .ui-bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.opacity-50 {
    opacity: .5 !important;
}
.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.ui-bg-overlay-container>*, .ui-bg-video-container>* {
    position: relative;
}
@media (min-width: 992px){
    .container, .container-fluid {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
.media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.ui-w-100 {
    width: 100px !important;
    height: auto;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.opacity-75 {
    opacity: .75 !important;
}
.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt>.nav-tabs .nav-link.active, .tabs-alt>.nav-tabs .nav-link.active:hover, .tabs-alt>.nav-tabs .nav-link.active:focus {
    -webkit-box-shadow: 0 -2px 0 #26B4FF inset;
    box-shadow: 0 -2px 0 #26B4FF inset;
}

.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link, .nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
    margin-right: .125rem;
}
.nav-tabs.tabs-alt .nav-link, .tabs-alt>.nav-tabs .nav-link {
    border-width: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
}
.nav-tabs .nav-link.active {
    border-bottom-color: #fff;
}