<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="header">
        <nav class="navbar navbar-expand-lg">
         <h3 id="heading">TRAINER DASHBOARD</h3>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <a class="nav-link active"><span class="glyphicon glyphicon-home" (click)="navigateToHome()"></span>Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"><span class="glyphicon glyphicon-user" (click)="navigateToProfile()"></span>Profile</a>
        </li>
        <li class="nav-item">
        <a class="nav-link"><span class="glyphicon glyphicon-off" (click)="navigateToLogout()"></span>Logout</a>
        </li>
        </ul>
        </nav>
    </div>
    <div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <div class="mt-3">
                            <div class="avatar-circle">
                                <span class="initials"><h1>{{profileName}}</h1></span>
                           </div><br/>
                          <p class="text-secondary mb-1">Full Stack Developer</p>
                          <p class="text-muted font-size-sm">{{trainer.trainer.address}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Mail Id:&nbsp;{{trainer.trainer.email}}</h6>
                      </li>
                    </ul>
                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <button type="button" class="btn btn-primary" (click)="addNewAssignment()">Add Assignment</button><br/><br/> &nbsp; <button type="button" class="btn btn-success" (click)="addNewDemo()">Add Demo Session</button>
                        <form class="firstForm" *ngIf="showTrainerAssForm" [formGroup]="assignmentForm" (ngSubmit)="saveAssignmentForm()">
                         <div class="form1" *ngIf="showOnlyAssForm">
                           <h4>Add new Assignment</h4>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Organization Name</label>
                            <input type="text" class="form-control" formControlName="OrganizationName" aria-describedby="emailHelp" placeholder="organization name">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">StartDate</label>
                            <input type="date" class="form-control" formControlName="startDate" placeholder="start date">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Duration</label>
                            <input type="text" class="form-control" formControlName="Duration" placeholder="duration">
                          </div>
                         </div>
                         <div class="form2" *ngIf="showOnlyDemoForm">
                           <h4>Add new Demo</h4>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Video Type</label>
                            <input type="text" class="form-control"  formControlName="videoType" placeholder="1 is private 2 is public">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Video URL</label>
                            <input type="text" class="form-control" formControlName="videoUrl" placeholder="video url">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Duration</label>
                            <input type="text" class="form-control" formControlName="duration" placeholder="number of hours">
                          </div>
                         </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <!--<button type="button" class="btn btn-success" (click)="addNewDemo()">Add Demo Session</button>-->
                        <!--<form class="secondform" *ngIf="showDemoSessionForm" [formGroup]="demoSessionForm" (ngSubmit)="saveDemoSessionForm()">-->
                          <!--<div class="form-group">
                            <label for="exampleInputEmail1">Video Type</label>
                            <input type="text" class="form-control"  formControlName="videoType" placeholder="1 is private 2 is public">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Video URL</label>
                            <input type="text" class="form-control" formControlName="videoUrl" placeholder="Password">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Duration</label>
                            <input type="text" class="form-control" formControlName="duration" placeholder="number of hours">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>-->
                        <!--</form>-->
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-3">
                          <h6>{{trainer.trainer.firstName}}{{trainer.trainer.lastName}}</h6>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <h6>{{trainer.trainer.email}}</h6>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Mobile</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <h6>{{trainer.trainer.mobileNum}}</h6>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                         <h6>{{trainer.trainer.address}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                      <div class="card h-100">
                        <div *ngFor="let assignment of trainerAssignments;index as i" class="card-body">
                          <h4 class="d-flex align-items-center mb-3">Previous Assignment</h4>
                          <small>Assignment ID :{{i+1}}</small>
                          <div class="progress mb-3" style="height: 5px">
                          </div>
                          <small>Organization Name:&nbsp;{{assignment.organizationName}}</small>
                          <div class="progress mb-3" style="height: 5px">
                          </div>
                          <small>Start Date:{{ assignment.startDate}}</small>
                          <div class="progress mb-3" style="height: 5px">
                          </div>
                          <small>Duration: {{assignment.duration}}hrs</small>
                          <div class="progress mb-3" style="height: 5px">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                      <div class="card h-100">
                        <div class="card-body">
                          <span *ngFor="let demo of trainerDemoSessions index as i">
                           <h4 class="d-flex align-items-center mb-3">Demo Sessions</h4>
                          <small>Demo id: {{ i+1 }}</small>
                          <div class="progress mb-3" style="height: 5px">
                          </div>
                          <small>Video Type:{{demo.videoType}}</small>
                          <div class="progress mb-3" style="height: 5px">
                          </div>
                          <small>Video URL:<a href="{{demo.videoUrl}}"> click to watch</a></small>
                          <div class="progress mb-3" style="height: 5px">
                          </div>
                          <small>Skills:</small><small *ngFor=" let skill of trainer.trainer.skills"><span>{{skill.skillName}},</span></small>
                          <div class="progress mb-3" style="height: 5px">
                          </div>
                          <div>
                            <br/>
                          </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
</body>
<div class="footer" style="text-align: right;">@Ramachandiran</div>

